.collectionListHidden {
    background-color: #262626;
    border-color: #8dd992;
}

.refresh {
    color: white;
}

.noAccess {
    color: #e10000;
}

.collectionList {
    border-color: #8dd992;
}

.showList {
    color: #3a3a3a;
}

.showList:hover {
    color: #b7b7ff;
}
