.container {
    color: #707070;
}

.container:hover {
    color: #8dd992;
}

.container.active {
    color: #9c9cf8;
}

.container.active:hover {
    color: #8dd992;
}

.chevron {
    color: #7c7c7c;
}

.headerContent > a {
    color: black;
}

.headerContent > a:hover {
    color: #8dd992;
}




