.key {
    color: black;
}

.string {
    color: forestgreen;
}

.number {
    color: #0176b7;
}

.bigint {
    color: #0021a9;
}

.boolean {
    color: #f38b00;
}

.symbol {
    color: #44b900;
}

.undefined {
    color: #b90000;
}

.null {
    color: #a9a9a9;
}

.object {
    color: #f38b00;
}

.record.hover {
    background-color: #d9d8d8;
}

.objectHeader {
    color: #f38b00;
}

.objectHeader.objectHover {
    color: #00a49f!important;
}

.objectHeader.hover {
    color: #e82100;
}

.keyNumber {
    color: black;
}
