.key {
    color: white;
}

.string {
    color: forestgreen;
}

.number {
    color: #0176b7;
}

.bigint {
    color: #0021a9;
}

.boolean {
    color: #f38b00;
}

.symbol {
    color: #44b900;
}

.undefined {
    color: #b90000;
}

.null {
    color: #676767;
}

.object {
    color: #f38b00;
}

.record.hover {
    background-color: #424242;
}

.objectHeader {
    color: #f38b00;
}

.objectHeader.objectHover {
    color: #00a9f1 !important;
}

.objectHeader.hover {
    color: #ffdd00;
}

.keyNumber {
    color: white;
}
