.home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.welcomeContainer {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 2000ms;
}

.welcome {
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    text-align: center;
    cursor: default;
    transform: scale(0.9);
    transition: all 3000ms;
}

.welcome.active {
    font-size: 50px;
    font-weight: bold;
    opacity: 1;
    transform: scale(1);
}

.slogan {
    margin-bottom: 30px;
    font-size: 18px;
    opacity: 0;
    cursor: default;
    text-align: center;
    transform: scale(0.8);
    transition: all 5000ms;
}

.slogan.active {
    font-size: 18px;
    opacity: 1;
    transform: scale(1);
}

.buttons {
    display: flex;
}

.buttons > div {
    margin: 10px;
}

