.header {
    border-color: #8dd992;
}

.header a {
    color: #ffffff;
}

.link:hover {
    border-color: #8dd992;
}

.link.active {
    color: #9c9cf8;
    border-color: #8dd992;
}

.signUp {
    color: white;
}

.signUp:hover {
    color: #9c9cf8;
}

.toolsContainer {
    background-color: #262626;
}

.showTools {
    color: #c0c0c0;
}

.showTools:hover {
    color: #9c9cf8;
}

.signAs {
    color: white;
}
