.header {
    border-color: #8dd992;
}

.header a {
    color: black;
}

.link:hover {
    border-color: #8dd992;
}

.link.active {
    border-color: #8dd992;
}

.signUp {
    color: black;
}

.signUp:hover {
    color: #9c9cf8;
}
