.header {
    border-color: #8dd992;
}

.header a {
    color: black;
}

.link:hover {
    border-color: #8dd992;
}

.link.active {
    color: #9c9cf8;
    border-color: #8dd992;
}

.signUp {
    color: black;
}

.signUp:hover {
    color: #9c9cf8;
}

.toolsContainer {
    background-color: white;
}

.showTools {
    color: #a1a0a0;
}

.showTools:hover {
    color: #9c9cf8;
}

.signAs {
    color: black;
}