.authCard {
    width: 400px;
    height: max-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: background-color 250ms;
    padding-bottom: 10px;
    position: relative;
}

.authCard hr {
    size: 1px;
    border: 1px solid;
    width: 90%;
    margin-bottom: 0;
}

.header h1 {
    text-align: center;
    cursor: default;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.form input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid;
    background: none;
    border-radius: 3px;
    font-size: 20px;
    outline: none;
    -moz-appearance: none;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: border 250ms;
}

.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.submit > div {
    margin-top: 10px;
    width: 100%;
}

.warnings {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 90%;
}

.warnings span {
    font-size: 12px;
}

.warnings span.error {
    color: red;
}

.warnings span.notice {
    color: #8dd992;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 22px;
    transition: color 250ms;
}
