.collectionName.active {
    background-color: #efefef;
}

.collectionName.active:hover {
    background-color: #efefef;
}

.collectionName:hover {
    background-color: #e3e3e3;
}

.label {
    color: black;
}

.deleteBtn {
    color: #c0c0c0;
}

.deleteBtn:hover {
    color: #fa9d9d;
}

